<?xml version="1.0" encoding="utf-8"?>
<root>
  <action button="X" keyCode="1" triggerEvent="onPressed">ww
    <keyType delay="500">x</keyType>
    <keyType>X</keyType>
  </action>
  <action button="X" keyCode="1" triggerEvent="onReleased">
    <keyType delay="500" repeat="3">x</keyType>
  </action>
  <action button="A" keyCode="2" triggerEvent="onDown">
    <keyType>a</keyType>
  </action>
  <action button="B" keyCode="4" triggerEvent="onPressed">
    <keyDown>w</keyDown>
  </action>
  <action button="B" keyCode="4" triggerEvent="onReleased">
    <keyUp>w</keyUp>
  </action>
  <action button="Y" keyCode="8" triggerEvent="onPressed">
    <keyType>Ohhhhhh yaaaah! Look at it go! Roll 0ut the Barrel. Feel it in your bones.</keyType>
  </action>
  <action button="L" keyCode="16" triggerEvent="onPressed">
    <keyType>l</keyType>
  </action>
  <action button="R" keyCode="32" triggerEvent="onPressed">
    <keyType>r</keyType>
  </action>
  <action button="Z" keyCode="128" triggerEvent="onPressed">
    <keyType>z</keyType>
  </action>
  <action button="Start" keyCode="512" triggerEvent="onPressed">
    <keyType>s</keyType>
  </action>
  <action button="Up" keyCode="4096" triggerEvent="onPressed">
    <keyType>U</keyType>
  </action>
  <action button="Right" keyCode="8192" triggerEvent="onPressed">
    <keyType>R</keyType>
  </action>
  <action button="Down" keyCode="16384" triggerEvent="onPressed">
    <keyType>D</keyType>
  </action>
  <action button="Left" keyCode="32768" triggerEvent="onPressed">
    <keyType>L</keyType>
  </action>
</root>