<?xml version="1.0" encoding="utf-8"?>
<root>
  <action button="X" keyCode="1" triggerEvent="onPressed">
    <type delay="500">x</type>
    <type>X</type>
  </action>
  <action button="X" keyCode="1" triggerEvent="onReleased">
    <type delay="500">x</type>
  </action>
  <action button="A" keyCode="2" triggerEvent="onDown">
    <type>a</type>
  </action>
  <action button="B" keyCode="4" triggerEvent="onReleased">
    <type>b</type>
  </action>
  <action button="Y" keyCode="8" triggerEvent="onPressed">
    <type>y</type>
  </action>
  <action button="L" keyCode="16" triggerEvent="onPressed">
    <type>l</type>
  </action>
  <action button="R" keyCode="32" triggerEvent="onPressed">
    <type>r</type>
  </action>
  <action button="Z" keyCode="128" triggerEvent="onPressed">
    <type>z</type>
  </action>
  <action button="Start" keyCode="512" triggerEvent="onPressed">
    <type>s</type>
  </action>
  <action button="Up" keyCode="4096" triggerEvent="onPressed">
    <type>U</type>
  </action>
  <action button="Right" keyCode="8192" triggerEvent="onPressed">
    <type>R</type>
  </action>
  <action button="Down" keyCode="16384" triggerEvent="onPressed">
    <type>D</type>
  </action>
  <action button="Left" keyCode="32768" triggerEvent="onPressed">
    <type>L</type>
  </action>
</root>